/* * {
  margin: 0;
  padding: 0;
} */
body {
  font-family: "Ysabeau", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  height: 100px;
  background-color: #af902a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.logo img {
  width: 150px;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nlink {
  margin: 0 15px;
  text-decoration: none;
  display: flex;
}
.nlink img {
  width: 25px;
  align-self: center;
}
.nlink:nth-child(4) {
  color: #151516;
  padding: 0 15px;
  font-size: 15px;
}

.section1 {
  color: white;
  background-image: url("images/photo-1485498128961-422168ba5f87.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 300px;
}

.section1 a {
  text-decoration: none;
}
.section1 h1 {
  font-size: 64px;
}
.section1 h3 {
  font-size: 26px;
}
.section1 h4 {
  font-size: 20px;
}
.section1 p {
  font-size: 20px;
}
.prm-btn {
  padding: 25px 50px;
  font-size: larger;
  border-style: none;
  color: white;
  background-color: #af902a;
}

.section1 a button {
  margin-top: 50px;
}
.section2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 30px 30px;
}
.section2 div:first-child {
  background-color: #151516;
  padding: 30px 200px;
  border-radius: 30px;
}
.section2 div:nth-child(2) {
  background-color: #af902a;
  padding: 30px 200px;
  border-radius: 30px;
  margin-top: 30px;
}
.section3 {
  color: white;
  background-color: #151516;
  text-align: center;
  margin: 0;
  height: fit-content;
  padding: 30px 70px;
}
.section3 h1 {
  font-size: 48px;
}
.ft-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ft-div {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 50px;
}
.ft-img {
  width: 100%;
}
.ft-h3 {
  font-size: 30px;
}
.ft-btn {
  margin-top: 20px;
}
.section4 {
  background-color: #af902a;
  display: flex;
  padding: 70px;
  justify-content: center;
  align-items: center;
}
.sec4img {
  width: 50%;
}
.sec41 {
  color: white;
  padding-right: 50px;
}
.sec41-h2 {
  font-size: 30px;
}
.sec41-p {
  font-size: 20px;
}
.section5 {
  background-color: #151516;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  text-align: center;
}
.stat-i {
  width: 50px;
}
.stat h2 {
  font-size: 30px;
}
.section6 {
  background-color: #af902a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 120px;
}
.section6 > form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 70px;
}
.section6 > form > input,
textarea {
  background-color: #a3872d;
  color: white;
  border-style: none;
}
.section6 > form > input {
  height: 50px;
}
.section6 > form > label {
  margin: 10px 0;
}
.sec6text {
  width: 50%;
}
.sec6text h2 {
  font-size: 36px;
}
.sec6text p {
  font-size: 20px;
}
.form-btn {
  background-color: #151516;
  margin-top: 40px;
}
footer {
  background-color: #151516;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 70px 120px;
}
footer a {
  color: white;
}
footer h2 {
  border-bottom-style: solid;
}
footer h1 {
  font-size: 40px;
  margin: 0 15px;
}
.ft-links {
  display: flex;
}
